{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <a class="nav-link" href="{{ path('app_game_create') }}">Créer partie</a>
    <br>
    <a class="nav-link" href="{{ path('app_listgame') }}">Liste des parties</a>
    <br>
    <a class="nav-link" href="{{ path('app_listgame') }}">Liste des parties a reprendre</a>
    <br>   
    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
    <br>
</div>

<table>
    <thead>
        <tr>
            <th>Classement</th>
            <th>Nom d'utilisateur</th>
            <th>Score total</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.scoreTotal }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
