{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur le jeu</h1>

    <h2>Joueurs :</h2>
    <ul>
        <li>{{ partie.player1.username }}</li>
        {% if partie.player2 is null %}
            <li> en attente d'un deuxieme joueur </li>
        {% else %}
            <li>{{ partie.player2.username }}</li>
        {% endif %}
        
    </ul>

    <h2>Grille :</h2>
    <p>Hauteur : {{ partie.grille.hauteur }}</p>
    <p>Largeur : {{ partie.grille.largeur }}</p>

    <h2>Pions :</h2>
    {% if partie.player2 is null %}
        <li> en attente d'un deuxieme joueur </li>
    {% else %}
        <table>
            <tbody>
                {% for i in 0..partie.grille.hauteur - 1 %}
                    <tr>
                        {% for j in 0..partie.grille.largeur - 1 %}
                                {% set pion = partie.checkPosLibre(i, j) %}
                                {% if pion is not null %}
                                <td style="background-color:{{ pion.couleur }};" >
                                </td>
                                {% else %}
                                    <td>
                                    {% if partie.playerEnCours == user %}
                                        <a href='/game/{{partie.id}}/turn/{{j}}/{{i}}'> Placer ici</a>
                                    {% else %}
                                        <a href='#'> Placer ici</a>
                                    {% endif %}
                                    </td>
                                {% endif %}
                            
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
