{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur le jeu</h1>

    <h2>Joueurs :</h2>
    <ul>
        <li>{{ partie.player1.username }}</li>
        {% if partie.player2 is null %}
            <li> en attente d'un deuxieme joueur </li>
        {% else %}
            <li>{{ partie.player2.username }}</li>
        {% endif %}
        
    </ul>

    <h2>Grille :</h2>
    <p>Hauteur : {{ partie.grille.hauteur }}</p>
    <p>Largeur : {{ partie.grille.largeur }}</p>

    <h2>Pions :</h2>
    {% if partie.player2 is null %}
        <li> en attente d'un deuxieme joueur </li>
    {% else %}
        <table>
            <tbody>
                {% for i in 0..partie.grille.hauteur - 1 %}
                    <tr>
                        {% for j in 0..partie.grille.largeur - 1 %}
                            
                                {% set pion = partie.checkPosLibre(i, j) %}
                                {% if pion is not null %}
                                <td>
                                </td>
                                {% else %}
                                    <td>

                                    
                                    
                                    {% if partie.playerEnCours == user %}
                                        <a href='/game/{{partie.id}}/turn/{{j}}/{{i}}'> Placer ici</a>
                                    {% else %}
                                        <a href='#'> Placer ici</a>
                                    {% endif %}
                                    
                                    </td>
                                {% endif %}
                            
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if partie.checkIsFull() %}
        <p>La grille est pleine. La partie est terminée.</p>
    {% else %}
        <p>La grille n'est pas pleine.</p>
    {% endif %}

    {# {% if partie.isTerminee %}
        <h2>Fin de partie :</h2>
        <p>Le joueur gagnant est : {{ partie.gagnant.username }}</p>
        <p>Score du joueur 1 : {{ partie.scoreJoueur1 }}</p>
        <p>Score du joueur 2 : {{ partie.scoreJoueur2 }}</p>
    {% endif %} #}

{% endblock %}
