{% extends 'base.html.twig' %}

{% block title %}Pas d'idée 4
{% endblock %}

{% block body %}
	<h1>Puissance 4</h1>

	<div class="grid">
		{% for row in grille %}
			<div class="row">
				{% for cell in row %}
					<div class="cell">
						{% if cell %}
							<span class="pion">{{ cell }}</span>
						{% else %}
							<span class="empty"></span>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	<div class="scores">
		<div class="player">
			<span class="player-name">{{ partie.player1.username }}</span>
			<span class="player-score">{{ partie.scoreP1 }}</span>
		</div>
		<div class="player">
			<span class="player-name">{{ partie.player2.username }}</span>
			<span class="player-score">{{ partie.scoreP2 }}</span>
		</div>
	</div>

{% endblock %}

